* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* home styles */


.home {
    display: flex;
    min-height: 100vh;
    background-color: rgba(229, 84, 115, 0.10);

}

.home-text {
    max-width: 50%;
    /* display: flex; */

    /* flex-direction: column; */
    margin-left: 250px;




}

.home-head {

    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-top: 200px;

}

.home-details {

    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 32px;

}


.home-btn {
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    margin-bottom: 100px;

}

.home-photo {


    padding-top: 50px;
    padding-right: 250px;
    width: 535px;
    height: 700px;
    padding-left: 90px;

}

/* bonus styles section */

.bonus {
    padding-bottom: 130px;
    min-height: 100vh;

}




.bonus-head {
    padding-right: 650px;
    padding-left: 650px;
    padding-top: 170px;

}

.bonus-heading {
    margin: 5px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}


.bonus-text {

    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;

}


.bonus-items {
    display: flex;
    padding-top: 50px;
    padding-left: 240px;
    padding-right: 240px;
    justify-content: space-around;
    gap: 2px;

}


.bonus-photo1 {
    width: 310px;
    height: 428px;
    border-radius: 280px 280px 0px 0px;
    background: rgba(167, 33, 98, 0.15);


}

.bonus-photo2 {
    width: 310px;
    height: 428px;
    border-radius: 280px 280px 0px 0px;
    background: rgba(5, 151, 160, 0.15);


}

.bonus-photo3 {
    width: 310px;
    height: 428px;
    border-radius: 280px 280px 0px 0px;
    background: rgba(71, 125, 17, 0.15);


}

.bonus-photo-title {

    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}





/* footer styles section  */

.foot {
    background: #111010;
    min-height: 10vh;
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    padding: 200px 640px 120px 640px;

}

.foot-hr {

    margin: 20px 20px 20px 20px;

}

#foot-name-half {
    color: #E55473;
}

.foot-details {

    margin-top: 20px;
}

/* get deals section  */
.form {

    width: 500px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    margin-right: 10px;

}

::placeholder {

    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 500px 20px 20px;

}


.bonus-text1 {

    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 20px;

}

.bonus-head1 {
    padding-right: 650px;
    padding-left: 650px;
    padding-top: 170px;
    background-image: url("Flower Asset/Rectangle 9.png");
    background-position: center;
    background-repeat: no-repeat;
}

.bonus1 {
    padding-bottom: 130px;
    min-height: 50vh;

}

/* PAYMENT METHOD styles section */


.homepay {
    display: flex;
    min-height: 80vh;
    background-color: rgba(229, 84, 115, 0.10);
    margin-bottom: 50px;

}

.payment {
    color: rgba(19, 14, 14, 0.6);
    font-size: 24px;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 32px;
}


/* hot deals styles */


.home-text1 {

    max-width: 50%;
    /* display: flex; */

    /* flex-direction: column; */
    margin-left: 250px;
    text-align: center;



}